@model DAL.ViewModels.UserDashboardViewModal
<div class="d-flex justify-content-between align-items-center mx-2 mx-sm-3">
    <h1 class="text-white text-center pt-3">Hello, @Model.Name</h1>
    <div>
        <button class="btn btn-danger" id="LogoutButton">Logout</button>
    </div>
</div>
<div class="d-flex flex-column flex-sm-row align-items-center justify-content-end gap-2 me-sm-5 text-danger2">
    <select class="form-select text-black FilterBooksSelectOptions" aria-label="Filter Books" 
        id="FilterBooksSelectOption">
        <option value="0" selected>Filter Books</option>
        <option value="1">Based on Title Ascending</option>
        <option value="2">Based on Title Descending</option>
        <option value="3">Based on Author's Name Ascending</option>
        <option value="4">Based on Author's Name Descending</option>
        <option value="5">Based on Publishing Year Ascending</option>
        <option value="6">Based on Publishing Year Descending</option>
        <option value="7">Based on ISBN No. Ascending</option>
        <option value="8">Based on ISBN No. Descending</option>
    </select>
    <input type="text" id="searchInput" class="form-control search-input" placeholder="Search books">
    <button class="btn btn-success" id="IssueButton">Issue</button>
    <button class="btn btn-danger" id="ReturnButton">Return</button>
</div>

<div id="booksDataPartialDiv">
    <partial name="_BooksDataPartial" model="@Model" />
</div>

@* issue book modal *@
<div class="modal fade" id="issueBookModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Issue Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center">
                <img src="~/images/warning.svg" class="medium-image" alt="">
                <p>Are you sure you want to issue this book?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="issueBookButton" class="btn btn-primary px-3"
                    data-bs-dismiss="modal">Yes</button>
                <a data-bs-dismiss="modal"><button type="button" class="btn btn-contrast px-3">No</button></a>
            </div>
        </div>
    </div>
</div>

@* return book modal *@
<div class="modal fade" id="returnBookModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Return Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center">
                <img src="~/images/warning.svg" class="medium-image" alt="">
                <p>Are you sure you want to return this book?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="returnBookButton" class="btn btn-primary px-3"
                    data-bs-dismiss="modal">Yes</button>
                <a data-bs-dismiss="modal"><button type="button" class="btn btn-contrast px-3">No</button></a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    var inIssue = true;

    $("#IssueButton").off("click").click(function () {
        inIssue = true;
        reloadPartialView();
    });

    $("#ReturnButton").off("click").click(function () {
        inIssue = false;
        reloadPartialView();
    });

    $("#addBookButton").off("click").click(function () {
        $.ajax({
            url: "/Admin/RefreshAddEditBook/",
            type: "GET",
            success: function (data) {
                $("#addEditBookModalPartial").html(data);
                clearAddEditBookForm();
                $("#addEditBookModal").modal("show");
                $.validator.unobtrusive.parse("#AddEditBookForm");
            }
        });
    });

    $("#LogoutButton").off("click").click(function () {
        document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "isAdmin=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

        sessionStorage.clear();

        window.location.href = "/";
    });

    $("#searchInput").on("keyup", function () {
        var debounceTime = 500;
        clearTimeout($.data(this, 'timer'));
        $(this).data('timer', setTimeout(function () {
            reloadPartialView();
        }, debounceTime));
    });

    $("#FilterBooksSelectOption").change(function () {
        pageIndex = 1;
        reloadPartialView();
    });
</script>