@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.gradient-background {
  background: linear-gradient(
    300deg,
    #211c84,
    #a91079,
    #570a57,
    #211c84,
    #a91079,
    #570a57
  );
  background-size: 480% 480%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-color {
  background-color: #d8eff7;
}

@media (min-width: 768px) {
  .login-btn {
    margin-bottom: 150px;
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-left-side {
  animation: slide-in-left 0.5s forwards;
}
.animate-right-side {
  animation: slide-in-right 0.5s forwards;
}
.logo-img {
  width: 60%;
}
.form-container {
  width: 65%;
}
.btn-primary {
  background-color: #3362cc;
}
.small-image {
  width: 20px;
  cursor: pointer;
}
.image-in-input {
  position: absolute;
  right: 10px;
  top: 11px;
  z-index: 10;
}
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-control,
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-select,
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ) {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.custom-input-border {
  border: 1px solid #a0bdfc;
}
.text-danger2 {
  color: #f2f7a1;
}
.cursor-pointer {
  cursor: pointer;
}
.error-image-401 {
  width: 500px;
}
.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  padding: 20px;
}
.book-card {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  width: 450px;
  color: white;
  gap: 20px;
}
.book-card-content {
  padding: 10px;
}
.w-11 {
  width: 11%;
}
.w-40 {
  width: 40%;
}
.pagination-dropdown {
  width: 50px;
}
.form-select {
  padding-left: 8px;
  padding-right: 8px;
  background-position: right 0.4rem center;
}
.btn-contrast {
  background-color: white;
  border: 1px solid #0066a7;
  color: #0066a7;
}

/* label tag styling */
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  position: absolute;
  inset: 1rem 0.375rem;
  z-index: -1;
  height: 1.5em;
  content: "";
  background-color: inherit;
  border-radius: var(--bs-border-radius);
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

@media (min-width: 576px) {
  .table-modal {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .table-modal {
    max-width: 55%;
  }
}
@media (min-width: 1000px) {
  .table-modal {
    max-width: 45%;
  }
}
@media (min-width: 1200px) {
  .modal-add-item {
    .table-modal {
      max-width: 35%;
    }
  }
}
.btn-custom {
  border: 1px solid #9e9696;
  width: 48%;
}
.file-input-btn {
  width: 100%;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  right: 0;
  top: 0;
}
.book-image {
  width: 160px;
  height: 100%;
  /* object-fit: cover; */
}
.search-input {
  width: 20%;
}
.cursor-none {
  cursor: not-allowed;
}
.FilterBooksSelectOptions {
  width: 400px;
}